<%- include ('partials/header') %>

<!-- Trago o body para dentro do EJS especifico, para ser mais facil trocar o background -->
<body class="bg-success">

<div class="header">
<h1 class="text-center header-frases text-light">BEM VINDO</h1>

<P class="text-center  bg-warning mt-4 frases">FRASE MOTIVACIONAL</p>
</div>

<div class="text-center mt-5 botoes">
<a class="btn btn-warning btn-lg" role="button">Sair</a>
<a class="btn btn-outline-dark btn-lg" role="button">Postar</a>
</div>

<%- include ('partials/footer') %>