<%- include ('partials/header') %>

<!-- Trago o body para dentro do EJS especifico, para ser mais facil trocar o background -->
<body class="bg-info">

<div class="header">
<h1 class="text-center titulo-main">FRASES E POEMAS</h1>

<h4 class="text-center mt-4">compartilhe uma frase ou poema para fazer o dia de alguem melhor</h4>
</div>

<div class="text-center mt-5 botoes">
<a class="btn btn-warning" href="/registrar" role="button">Registrar-se</a>
<a class="btn btn-dark" role="button" href="/login">Entrar</a>
</div>

<%- include ('partials/footer') %>